{% extends "admin/layout.html" %} {% block content %}
  <!-- Content Header (Page header) -->
  <input id="role" value="{{role}}" hidden>
  <input id="param" value="0" hidden>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Pengaduan (Kirim Pesan Baru)</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Pengaduan</a></li>
            <li class="breadcrumb-item active">List Pengaduan</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
      <div class="col-md-12">
        <div class="card card-danger card-outline">
          <!-- /.card-header -->
          <div class="card-body">

              <input id="id" hidden>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nama Lengkap</label>
                    <input id="name" name="user-input" type="text" class="form-control" placeholder="Nama Lengkap ...">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Username</label>
                    <input id="username" name="user-input" type="text" class="form-control" placeholder="Username ...">
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Judul Aduan</label>
                    <input id="judul" name="user-input" type="text" class="form-control" placeholder="Judul ...">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                        <label>Isi Aduan</label>
                        <textarea id="isi-aduan" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                      </div>
                </div>
                </div>
                <center>
                <button type="button" class="btn btn-primary pull-right" id="kirim-aduan"><i class="nav-icon fas fa-check"></i> Kirim</button>
                </center>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->

        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog modal-lg card card-danger card-outline">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <input id="id" hidden>
          <div class="modal-body">
            <div class="card direct-chat direct-chat-primary">
              <div class="card-body" style="display: block;">
                  <input id="id-parent" hidden>
                  <input id="id-pelapor" hidden>
                  <input id="id-admin" hidden>
                  <input id="nama-pelapor" hidden>
                  <input id="date-laporan" hidden>
                  <input id="isi-laporan" hidden>
                  <input id="status-laporan" hidden>
                  <div class="direct-chat-messages" id="percakapan" style="height: 400px;">

                  </div>
                </div>
                <div class="card-footer" style="display: block;">
                  <form action="#" method="post">
                    <div class="input-group">
                      <input type="text" id="pesan-balasan" name="message" placeholder="Balasan ..." class="form-control">
                      <span class="input-group-append">
                        <button type="button" class="btn btn-primary" id="kirim-balasan">Kirim</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>

          </div>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{base_url}}assets/js/action/listaduan.js"></script>
{% endblock %}
