.areaIcon {
    background-image: none!important;
    width: 26px;
    height: 16px;
}

.areaIcon::before {
  content: "Area";
}

.dijitButtonNode {
  width: 80px!important;
  background: none !important;
}

.esriButtonHover .dijitButtonNode {
 border-color:#a5beda !important;
 border: none !important;
 color:#000 !important;
 background:none!important;
}
.esriButtonActive .dijitButtonNode {
 background-color: white !important;
 color: black !important;
 border: none !important;
 background:none!important;
}
.esriButtonChecked .dijitButtonNode {
 background-color: white !important;
 color: black !important;
 border: none;
 background:none!important;
}

.dijitStretch {
    white-space: none!important;
    background-repeat: none!important;
}
